<table class="table table bordered" matSort (matSortChange)="sortData($event)">

  <thead>
    <tr>
      <th mat-sort-header="ID">ID</th>
      <th mat-sort-header="Amount" >Amount</th>
      <th mat-sort-header="Balance">Balance</th>
      <th mat-sort-header="Label">Label</th>
      <th mat-sort-header="Date">Date</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let dt of dataTransactions">
      <th (click)="dt.id"> {{dt.id}}</th>
      <th>{{dt.amount}}</th>
      <th> {{dt.balance}}</th>
      <th>{{dt.label}}</th>  
      <th>{{dt.date}}</th>
    </tr>
   
  </tbody>
</table>