<h1> {{title}}</h1>
<p> Enter your name:</p>
<input type="text" #name (keyup)="0">   <!-- Input to set the name-->

<p>Choose the font you want</p> 
<select name="Fonts" [(ngModel)]="font">  <!-- drop-down list to choose the font -->
  <option value="Arial"> Arial </option>
  <option value="Italic"> Italic </option>
  <option value="Cursive"> Cursive </option>
</select>

<p> Choose the size of the font </p> 
<input type="number" [(ngModel)]="sizeUser"> <!-- enterable field to choose the size -->




<p>Finally, choose the aligment</p> 
<input type="radio" name="align" value="Centered" [(ngModel)]="align">  <!-- checkboxes to choose the alignment -->
<label for="Centered">Centered</label><br>
<input type="radio" name="align" value="Left" [(ngModel)]="align">
<label for="Left">Left</label><br>
<input type="radio" name="align" value="Right" [(ngModel)]="align">
<label for="Right">Right</label>



<div [ngStyle]="{'font-size': sizeUser + 'px'}"> <!-- applying all the factors above -->
  <div [ngStyle]="setAlign()">
    <p [ngStyle]="setFont()"> {{name.value | uppercase}}</p>
  </div>
</div>